<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../template/head"); %>
</head>

<body class="container d-flex flex-column min-vh-100">
    <main>
        <div class="jumbotron">
            <h1 class="text-center">TRAVEL-DIARY</h1>
            <p class="text-center">Hey
                <%=user%>, add your vacation experience :</p>
        </div>

        <form action="/vacations/add" method="POST">

            <input type="hidden" name="username" value=<%=user%> >

            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" class="form-control" id="destination" name="destination">
            </div>

            <div class="form-group">
                <label for="arrival">Arrival</label>
                <input type="date" class="form-control" id="arrival" name="arrival">
            </div>

            <div class="form-group">
                <label for="depart">Departure</label>
                <input type="date" class="form-control" id="depart" name="depart">
            </div>

            <div class="form-group">
                <label for="experience">Experience</label>
                <textarea class="form-control" id="experience" name="experience"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <footer class="mt-auto text-center" ">
        <%- include('../template/footer'); %>
    </footer>
</body>

</html>