<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../template/head"); %>
</head>

<body class="container">

    <script type="text/javascript" src="scripts/home.js" defer></script>

    <main>
        <div class="jumbotron">
            <h1 class="text-center">TRAVEL-DIARY</h1>
            <p class="text-center">Welcome User</p>
        </div>

        <div>
            <button type="button" id="vacationList" class="btn btn-primary btn-lg">Vacation Album</button>
            <button type="button" id="vacationAdd" class="btn btn-primary btn-lg">Add Vacation</button>
        </div>
    </main>
</body>

</html>